.btn {
  background-color: crimson;
  padding: 10px 20px;
  color: rgb(12, 2, 2);
  border: 2px solid rgb(129, 7, 7);
  border-radius: 20px;
  font-size: 16px;
}
.btn:hover {
  background-color: royalblue;
  color: silver;
}
